In [1]:
from cassandra.cluster import Cluster
from cql_statements import *

#cassandra cluster 
#session to establish connection and begin executing queries
try:
    cluster = Cluster(['127.0.0.1'])
    session = cluster.connect()  
except Exception as e:
    print(e)
         
#set keyspace
try:
    keyspace = session.set_keyspace('udacity')
except Exception as e:
    print(e)

# Validating inserted data

In [2]:
rows = session.execute("""SELECT * FROM music_history LIMIT 3""")
print("")
print('Printing 3 first rows from Music_history table:  ')
for row in rows:
    print(row.artist, row.song, row.length)

Printing 3 first rows from Music_history table:
Regina Spektor The Calculation (Album Version) 191.08526611328125
Octopus Project All Of The Champs That Ever Lived 250.95791625976562
Tegan And Sara So Jealous 180.06158447265625

In [3]:
rows = session.execute("""SELECT * FROM user_songs LIMIT 3""")
print("")
print('Printing 3 first rows from user_songs table:  ')
for row in rows:
    print(row.iteminsession, row.artist, row.song, row.firstname, row.lastname)

Printing 3 first rows from user_songs table:
0 System of a Down Sad Statue Emily Benson
1 Ghostland Observatory Stranger Lover Emily Benson
2 Evergreen Terrace Zero Emily Benson

In [4]:
rows = session.execute("""SELECT * FROM history_song LIMIT 3""")
print("") 
print('Printing 3 first rows from history_song table: ')
for row in rows:
    print(row.firstname, row.lastname)

Printing 3 first rows from history_song table:
Chloe Cuevas
Chloe Cuevas
Aleena Kirby

# Querying

## Query 1.
#### Give me the artist, song title and song's length in the music app history that was heard during  sessionId = 338, and itemInSession  = 4
`SELECT artist, song, length FROM music_app_history WHERE sessionId=338 AND itemInSession=4`

#### Data Modeling 
`Table Name: music_history
column 1: sessionID
column 2: itemInSession
column 3: artist
column 4: song
column 5: length
PRIMARY KEY(sessionId, itemInSession)`

In [5]:
rows = session.execute("""SELECT artist, 
                            song, 
                            length 
                            FROM music_history 
                            WHERE sessionId = 338 
                            AND itemInSession = 4 """)

for row in rows:
    print(row.artist, row.song, row.length)

Faithless Music Matters (Mark Knight Dub) 495.30731201171875

## Query 2.
#### Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182
`SELECT artist, song, length FROM music_app_history WHERE sessionId=338 AND itemInSession=4`

#### Data Modeling 
`Table Name: user_songs
column 1: userId
column 2: sessionId
column 3: artist
column 4: song
column 5: firstName
column 6:lastName
column 7: itemInSession
PRIMARY KEY(userId, sessionId), itemInSession)`

In [6]:
rows = session.execute("""SELECT itemInSession, artist, song, firstName, lastName FROM user_songs WHERE userId = 10 AND sessionId = 182""")

for row in rows:
    print(row.iteminsession, row.artist, row.song, row.firstname, row.lastname)

0 Down To The Bone Keep On Keepin' On Sylvie Cruz
1 Three Drives Greece 2000 Sylvie Cruz
2 Sebastien Tellier Kilometer Sylvie Cruz
3 Lonnie Gordon Catch You Baby (Steve Pitron & Max Sanna Radio Edit) Sylvie Cruz

## Query 3.
### Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'
` SELECT firstName, lastName FROM history WHERE song='All Hands Against His Own' `

#### Data Modeling 
`Table Name: history_song
column 1: song
column 2: user first name
column 3: user last name
column 4: userId
PRIMARY key (song, userId) `

In [7]:
rows = session.execute("""SELECT firstName, lastName FROM history_song WHERE song = 'All Hands Against His Own'""")

for row in rows:
    print(row.firstname, row.lastname)

Jacqueline Lynch
Tegan Levine
Sara Johnson

### Drop the tables before closing out the sessions

In [8]:
# droping tables if needed
session.execute(music_history_drop)
session.execute(user_songs_drop)
session.execute(history_song_drop)

### Close the session and cluster connection

In [9]:
# closing session id needed
session.shutdown()
cluster.shutdown()